*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: gainsboro;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
    color: darkslategrey;
    text-align: center;
}

.calculator{
  background: whitesmoke;
  width: 350px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 3px;
}

.screen{
  grid-column: 1/5;
  background-color: darkslategrey;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 1.2rem;
}

.screen-grid{
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1.5fr; /* n1 sign n2 result */
  grid-template-areas: "n1 sign n2 res";
  gap: 5px;
  align-items: center;
}

.area-n1   { grid-area: n1;   }
.area-sign { grid-area: sign; }
.area-n2   { grid-area: n2;   }
.area-res  { grid-area: res;  }

.screen-grid input{
  width: 100%;
  text-align: center;
  border: 0;
  padding: .4rem .2rem;
  border-radius: 5px;
  background-color: antiquewhite;
  font-weight: bold;
}

.btn{
  background-color: darkslategrey;
  color: white;
  border: 0;
  padding: 1.3rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

.btn:hover{
  background-color: #004F78;
  font-weight: bold;
}

#zero{  grid-column: span 2; }

#equal{
  grid-row: span 2;
  background-color: #e65766;
}
#equal:hover{ background-color: #e6394a; }